# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log

# Ignore override files
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore terraform working directory
.terraform/

# Ignore plan output
tfplan
